#main {
	position: relative;
}

#status_control {
	position: absolute;
	right: 0px;
	top: 0px;
}

#positions_panel {
	width: 100%;
}

.caret {
	color: #fff;
}

.info {
	width: 46%;
	margin-right: 4%;
	float: left;
}

.panel-heading {
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}

.panel-content {
	padding: 5px;
}

.row {
	clear: right;
	overflow: hidden;
}

.maps {
	width: 94%;
	height: 94%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
}